<html>
    <body class="text-white bg-dark tilt-in-fwd-tr">   
       <a class="btn btn-dark" [routerLink]="['']">
            <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="38px" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
        
        <div id="mainDiv">
          <div class="container overflow-hidden">
            <div class="row gx-5">
                <div class="col-md-4 col-sm-4" >
                    <img class="fade-in-fwd" src="../../assets/Infosys feature/Charcoal portrait work - 1.jpg" height="530px" width="450px" alt="">
                </div>
                <div class="col-md-1 col-sm-1">
                     
                </div>
                <div class="col-md-7 col-sm-7">
                    <div id="aboutMain" class="bounce-in-right">
                        <div id="aboutTitle"> About the artist</div>
                        <p id="aboutContent">
                            Silvie is a Prague-based pencil artist. She was born in 1990 in Zlin, the Czech Republic. 
                            During her doctoral studies in law she fell in love again with drawing as the greatest passion 
                            from her childhood. She decided to follow her heart and rebuilt this old dream to become an artist.
                            <br><br>
                            In the recent work, being influenced by the pandemic situation, she started capturing some 
                            of otherworld, kind of escape from the rush of the world, moments of daydreaming and intimacy. 
                            The subjects in her recent work just sense the moment, they are pleasantly lost, they just are, 
                            for themselves.
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </body>
</html>
